

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<style>
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }
    .custom-file-input::before {
        content: 'Select some files';
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }
    .custom-file-input:hover::before {
        border-color: black;
    }
    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
</style>
@using (Html.BeginForm("Create", "client_files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-5">
            Old Passport
        </div>
        <div class="col-md-5">
            <input type="file" name="postedFile" class="custom-file-input" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            visa copy
        </div>
        <div class="col-md-5">
            <input type="file" name="postedFile" class="custom-file-input" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            certificate(if any)
        </div>
        <div class="col-md-5">
            <input type="file" name="postedFile" class="custom-file-input" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            Personal photo(with white background)
        </div>
        <div class="col-md-5">
            <input type="file" name="postedFile" class="custom-file-input" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            <input type="submit" id="btnUpload" value="Upload" class="btn btn-default"/>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
